@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/*Estilização do header*/

#Header {
  background-color: #85CDF5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#titulo1,
#titulo2 {
  text-decoration: none;
  color: black;
  font-family: 'Darker Grotesque', sans-serif;

}

#link1,
#link2 {
  color: black;
  font-size: 31px;
}

#link2 {
  display: flex;
  margin-top: 5px;
}

.num {
  color: black;
}

.titulo2::after {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  background-color: black;
  margin-top: 1rem;
  transition: background-color 0.8s ease;
  transition: background-color 0.3s ease;
}


.titulo2:hover::after {
  background-color: white;
  width: auto;
}

/*Estilização do body do texto*/

#imagem2 {
  display: flex;
  margin-left: 12rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.Tamanho {
  font-family: Darker Grotesque;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  margin-left: 3rem;
  margin-top: 1rem;
}

#Adote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 8rem;
}

#seq {
  font-family: Darker Grotesque;
  font-size: 10px;
  margin-top: 0.5rem;
  margin-right: 17rem;
  font-size: 12px;
}

/*Forms para o cliente escolher a opção desejada*/

.Cliente {
  display: flex;
  margin-left: 15rem;
  margin-bottom: 2rem;
  font-family: Darker Grotesque;
  font-size: 24px;
  line-height: 15px;

}

.linha-editavel {
  width: 70%;
  height: 1px;
  background-color: #000;
  margin: 10px auto;
}

.texto-sobre-linha {
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
  top: -15px;
}


.Idade {
  display: flex;
  margin-left: 81rem;
  font-family: Darker Grotesque;
  font-size: 24px;
  line-height: 12px;
  margin-top: -3rem;
}

.linhamini {
  width: 4%;
  height: 1px;
  background-color: #000;
  margin: 10px auto;
  margin-left: 81rem;
  margin-top: 1.56rem;
}

.idade-linha {
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
  top: -15px;

}

.Email {
  display: flex;
  margin-left: 15rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-family: Darker Grotesque;
  font-size: 24px;
  line-height: 8px;

}

.linha {
  width: 70%;
  height: 1px;
  background-color: #000;
  margin: 10px auto;
}

.email-sobre-linha {
  border: none;
  outline: none;
  background-color: transparent;
  width: 90%;
  position: relative;
  top: -15.5px;
}

button {
  background-color: #2C5680;
  color: white;
  width: 9rem;
  height: 3rem;
  font-size: 20px;

}

#Adotar {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}


/*Estilização do footer do texto*/

#degrade {
  background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);
  width: 100%;
  height: 5px;
}


#divFooter {
  background-color: #333333;
  width: 100%;
  height: 276px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.esquerdaFooter {
  display: flex;
  align-items: center;
}

iframe {
  margin-right: 40px;
}

.footer {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 400;
  line-height: 24.41px;
}

#divDesenvolvidoPor {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.textosFooter {
  width: 378px;
  line-height: 15px;
}

.textoIcon {
  display: flex;
  margin-bottom: 15px;

}

.imgFooter {
  margin-right: 6px;
}

.ultimoIcon {
  margin-bottom: 30px;
}

#quemsomos {

  padding: 2px 10px 7px 9px;
  background: #DEB959;
  color: black;
  text-decoration: none;
  font-family: Darker Grotesque;
  font-size: 25px;
  font-weight: 700;
  line-height: 20px;
}