@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
#img {
    margin-right: 3.5rem;
}

#header {
    background-color: #85CDF5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#titulo1,
#titulo2 {
    text-decoration: none;
    color: black;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    font-family: 'Darker Grotesque', sans-serif;
}

#link1,
#link2 {
    color: black;
}

.titulo2::after {
    content: '';
    display: block;
    width: 70px;
    height: 4px;
    background-color: black;
    margin-top: 0.5rem;
    transition: background-color 0.3s ease;
}

.titulo2:hover::after {
    background-color: white;
    width: auto;
}

/* inicio */

#lobo_fundo {
    position: relative;
    display: flex;
    max-width: 100%;
}

hr {
    margin-left: 25rem;
    width: 100px;
    height: 5px;
    background-color: white;
    max-width: 20%;
    align-self: center;
    border: 0px;
    margin-top: 1.5rem;
}

h1 {
    font-family: Darker Grotesque;
    font-size: 96px;
    font-weight: 700;
    line-height: 130px;
    letter-spacing: 0em;
    text-align: center;
}

#text-inicio {
    font-family: Darker Grotesque;
    font-size: 30px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 70%;
    margin-left: 8rem;
    margin-top: 1rem;
}

.fundo {
    max-width: 100%;
    background-image: url('caminho/para/sua/imagem.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.texto_sobreposto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

/* sobre */
.principalImg {
    height: 328px;
    width: 430px;
}

#text-sobre {
    background-color: rgba(44, 86, 128, 1);
    text-align: center;
    height: 333px;
}

#sobre {
    font-family: Darker Grotesque;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(222, 185, 89, 1);
}

#descricao-sobre {

    font-family: Darker Grotesque;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 25rem;
    max-width: 60%;
    margin-top: 1rem;
    color: white;
}

/* valores */

#valores {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.valores-section {
    background-color: rgba(51, 51, 51, 1);
}

#valores-tittle {
    text-align: center;
    font-family: Darker Grotesque;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0em;
    color: rgba(222, 185, 89, 1);
}

.img-valores {
    padding: 30px;
    margin-bottom: 2rem;
}

/* lobos exemplo */

#lobos-exemplo-tittle {
    font-family: Darker Grotesque;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0em;
    color: rgba(222, 185, 89, 1);
    text-align: center;
    margin-top: 1.5rem;
}


.lobos {
    margin-top: 39px;
    margin-bottom: 27px;
}

.lobo {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;

}

.lobo-reverse {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-bottom: 70px;
}

.imgLobo {
    margin-right: 50px;
}

.imgLobo-reverse {
    margin-left: 50px;

}

#detalheImagem {
    position: absolute;
}

#detalheImagem-reverse {
    position: absolute;
}


#principalImg {
    position: relative;
    top: 30px;
    left: 30px;
}

#principalImg-reverse {
    position: relative;
    top: 30px;
    right: 30px;
}

#nomeDoLobo,
#nomeDoLobo-reverse {
    font-family: Darker Grotesque;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0em;

}

#nomeDoLobo {
    margin-left: 3rem;
    text-align: left;
}

#nomeDoLobo-reverse {
    margin-right: 3rem;
    text-align: right;
}

#idadeDoLobo,
#idadeDoLobo-reverse {
    font-family: Darker Grotesque;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0em;

}

#idadeDoLobo {
    margin-left: 3rem;
    text-align: left;
}

#idadeDoLobo-reverse {
    margin-right: 3rem;
    text-align: right;
}

.cardTodo {
    display: flex;
    flex-flow: column;
}

.paragrafoLobo {
    margin-top: 30px;
    width: 476px;
    font-family: Darker Grotesque;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 3rem;
}

.paragrafoLobo-reverse {
    margin-top: 30px;
    width: 476px;
    font-family: Darker Grotesque;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
    margin-right: 3rem;
}

.adotar {
    background: #DEB959;
    color: white;
    font-family: Darker Grotesque;
    border-radius: 10px;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0em;
    text-decoration: none;
    height: 55px;
}

.adotarAdotado {
    background: #7AAC3A;
}

/* footer */
#degrade {
    background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);
    width: 100%;
    height: 5px;
}

#divFooter {
    background-color: #333333;
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.esquerdaFooter {
    display: flex;
    align-items: center;
}

iframe {
    margin-right: 40px;
}

.footer {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 400;
    line-height: 24.41px;
}

#divDesenvolvidoPor {
    display: flex;
    flex-flow: column;
}

.textosFooter {
    width: 378px;
    line-height: 15px;
}

.textoIcon {
    display: flex;
    margin-bottom: 15px;
}

.imgFooter {
    margin-right: 6px;
}

.ultimoIcon {
    margin-bottom: 30px;
}

#quemsomos {
    padding: 2px 10px 7px 9px;
    background: #DEB959;
    color: black;
    text-decoration: none;
    font-family: Darker Grotesque;
    font-size: 25px;
    font-weight: 700;
    line-height: 20px;
}