@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#img {
  margin-right: 3.5rem;
}

#Header {
  background-color: #85CDF5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#titulo1, #titulo2 {
  text-decoration: none;
  color: black;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  font-family: 'Darker Grotesque', sans-serif;
}

#link1, #link2 {
  color: black;
}


#Apresentacao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Txt {
  width: 960px;
  font-family: Darker Grotesque;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.155em;
  text-align: center;
  margin-bottom: 40px;
}

.Central {
  margin-top: 40px;
  margin-bottom: 50px;
}

.traco {
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: black;
  transition: background-color 0.3s ease;
}

.titulo2::after {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  background-color: black;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.titulo2:hover::after {
  background-color: white;
  width: auto;
}

#degrade {
  background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);
  width: 100%;
  height: 5px;
}


#divFooter {
  background-color: #333333;
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.esquerdaFooter {
  display: flex;
  align-items: center;
}

iframe {
  margin-right: 40px;
}

.footer {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 400;
  line-height: 24.41px;
}

#divDesenvolvidoPor {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.textosFooter {
  width: 378px;
  line-height: 15px;
}

.textoIcon {
  display: flex;
  margin-bottom: 15px;

}

.imgFooter {
  margin-right: 6px;
}

.ultimoIcon {
  margin-bottom: 30px;
}

#quemsomos {

  padding: 2px 10px 7px 9px;
  background: #DEB959;
  color: black;
  text-decoration: none;
  font-family: Darker Grotesque;
  font-size: 25px;
  font-weight: 700;
  line-height: 20px;
}