@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
#img {
  margin-right: 3.5rem;
}

#Header {
  background-color: #85CDF5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#titulo1, #titulo2 {
  text-decoration: none;
  color: black;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  font-family: 'Darker Grotesque', sans-serif;
}

#link1, #link2 {
  color: black;
}

.titulo2::after {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  background-color: black;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.titulo2:hover::after {
  background-color: white;
  width: auto;
}

/* secao do site */
main {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.barrapesquisa {
  border: 1px solid black;
  width: 808px;
  height: 47px;
  display: flex;
  align-items: center;
  margin-right: 1rem;

}

.paddingimg {
  margin-left: 10px;
}

#barradepesquisa {
  width: 95.2%;
  height: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
}

#barradepesquisa:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.section {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

a {
  text-decoration: none;
}

.card {
  background: #DEB959;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  color: white;
  font-family: Darker Grotesque;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
}


#checkboxContainer {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#adotados {
  width: 20px;
  height: 20px;
  border-radius: 5px;


}

#labelAdotados {
  font-family: Darker Grotesque;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  margin-left: 10px;
}

.lobos {
  margin-top: 39px;
  margin-bottom: 27px;
}

.lobo {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;

}

.lobo-reverse {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-bottom: 70px;
}

.imgLobo-reverse {
  margin-right: 50px;
}

.imgLobo {
  margin-left: 50px;
}

#detalheImagem {
  position: absolute;
}

#principalImg, #principalImg-reverse {
  height: 328px;
  width: 430px;
}

#principalImg-reverse {
  position: relative;
  top: 30px;
  left: 30px;
}

#principalImg {
  position: relative;
  top: 30px;
  right: 30px;
}

.nomeDoLobo {
  font-family: Darker Grotesque;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;

}

.idadeDoLobo {
  font-family: Darker Grotesque;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;

}

.buttonAdotar {
  display: flex;
  justify-content: space-between;
  width: 476px;
}

.buttonAdotar-reverse {
  display: flex;
  justify-content: space-between;
  width: 476px;
  flex-direction: row-reverse;
}

.cardTodo {
  display: flex;
  flex-flow: column;
}

.paragrafoLobo {
  margin-top: 30px;
  width: 476px;
  font-family: Darker Grotesque;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;

}

.paragrafoLobo-reverse {
  margin-top: 30px;
  width: 476px;
  font-family: Darker Grotesque;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;

}

.adotar {
  background: #DEB959;
  color: white;
  font-family: Darker Grotesque;
  border-radius: 10px;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0em;
  text-decoration: none;
  height: 55px;
}

.lobo-reverse {
  margin-left: 50px;
  /* Adicione a margem desejada aqui */
}

.adotarAdotado {
  background: #7AAC3A;

}

.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;

}

.page-btn {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.page-btn:hover {
  background-color: #0056b3;
}

.pagination-info {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.pagination {
  text-align: center;
  /* Centraliza o conteúdo */
  margin-top: 20px;
  /* Espaçamento superior */
}

.current-page {
  font-size: 18px;
  /* Tamanho da fonte */
  color: #333;
  /* Cor do texto */
  margin: 0 10px;
  /* Espaçamento entre o texto e outros elementos */
}

/* footer do site */
#degrade {
  background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);
  width: 100%;
  height: 5px;
}

#divFooter {
  background-color: #333333;
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.esquerdaFooter {
  display: flex;
  align-items: center;
}

iframe {
  margin-right: 40px;
}

.footer {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 400;
  line-height: 24.41px;
}

#divDesenvolvidoPor {
  display: flex;
  flex-flow: column;

}

.textosFooter {
  width: 378px;
  line-height: 15px;
}

.textoIcon {
  display: flex;
  margin-bottom: 15px;
}

.imgFooter {
  margin-right: 6px;
}

.ultimoIcon {
  margin-bottom: 30px;
}

#quemsomos {
  padding: 2px 10px 7px 9px;
  background: #DEB959;
  color: black;
  text-decoration: none;
  font-family: Darker Grotesque;
  font-size: 25px;
  font-weight: 700;
  line-height: 20px;
}

.naoAdotado {
  display: none;
}

.adotado {
  display: block;
  margin-top: 10px;
  font-family: Darker Grotesque;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;

}

.naoAdotado-reverse {
  display: none;

}

.adotado-reverse {
  margin-top: 10px;
  font-family: Darker Grotesque;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  display: flex;
  flex-direction: row-reverse;

}