@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
#img {
  margin-right: 3.5rem;
}

#Header {
  background-color: #85CDF5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#titulo1, #titulo2 {
  text-decoration: none;
  color: black;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  font-family: 'Darker Grotesque', sans-serif;
}

#link1, #link2 {
  color: black;
}

.titulo2::after {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  background-color: black;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.titulo2:hover::after {
  background-color: white;
  width: auto;
}

/* Secao do site */
.secao {
  display: flex;
  justify-content: center;
}

.cadastro {
  border: 1px solid black;
  width: 958px;
  height: 874px;
  margin-top: 50px;
  margin-bottom: 112px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.tituloPrincipal {
  margin-top: 54px;
  font-family: Darker Grotesque;
  font-size: 60px;
  line-height: 81px;
  letter-spacing: 0em;
  text-align: center;
}

#formulario {
  display: flex;
  flex-flow: column;
  margin-top: 40px;
  width: 761.53px;

}

.engloba {
  display: flex;
}



label {
  font-family: Darker Grotesque;
  font-size: 30px;
  font-weight: 500;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-family: Darker Grotesque;
  font-size: 30px;
  resize: none;
  background: #E6E6E6;


}



textarea {
  height: 250px;
}

input {
  height: 39px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

#nomedolobinho {
  width: 564px;
  margin-right: auto;
}

#anos {
  width: 177.14px;
  margin-right: auto;
}


#salvar {

  background-color: #2C5680;
  color: white;
  text-align: center;
  position: relative;
  cursor: pointer;
  left: 35%;
  margin-top: 43px;
  width: 209px;
  height: 60px;
  border: 1px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0em;

}


/* footer */
#degrade {
  background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);
  width: 100%;
  height: 5px;
}

#divFooter {
  background-color: #333333;
  width: 100%;
  height: 270px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.esquerdaFooter {
  display: flex;
  align-items: center;
}

iframe {
  margin-right: 40px;
}

.footer {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 400;
  line-height: 24.41px;
}

#divDesenvolvidoPor {
  display: flex;
  flex-flow: column;
}

.textosFooter {
  width: 378px;
  line-height: 15px;
}

.textoIcon {
  display: flex;
  margin-bottom: 15px;
}

.imgFooter {
  margin-right: 6px;
}

.ultimoIcon {
  margin-bottom: 30px;
}

#quemsomos {
  padding: 2px 10px 7px 9px;
  background: #DEB959;
  color: black;
  text-decoration: none;
  font-family: Darker Grotesque;
  font-size: 25px;
  font-weight: 700;
  line-height: 20px;
}