@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
#img {
    margin-right: 3.5rem;
}

#header {
    background-color: #85CDF5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#titulo1,
#titulo2 {
    text-decoration: none;
    color: black;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    font-family: 'Darker Grotesque', sans-serif;
}

#link1,
#link2 {
    color: black;
}

.titulo2::after {
    content: '';
    display: block;
    width: 70px;
    height: 4px;
    background-color: black;
    margin-top: 0.5rem;
    transition: background-color 0.3s ease;
}

.titulo2:hover::after {
    background-color: white;
    width: auto;
}

/* lobo a escolher */


.lobos {
    margin-top: 39px;
    margin-bottom: 27px;
}

.lobo {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;

}

.imgLobo {
    margin-right: 50px;
}

#detalheImagem {
    position: absolute;
}


#principalImg {
    position: relative;
    top: 30px;
    left: 30px;
}

.nomeDoLobo {
    font-family: Darker Grotesque;
    text-align: center;
    font-size: 48px;
    line-height: 49px;
    margin-top: 2rem;
}

.idadeDoLobo {
    font-family: Darker Grotesque;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 3rem;
}

.cardTodo {
    display: flex;
    flex-flow: column;
}

.paragrafoLobo {
    margin-top: 30px;
    width: 476px;
    font-family: Darker Grotesque;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 3rem;
}

/* botoes */

.botoes {
    display: flex;
    flex: column;
    justify-content: space-between;
    margin-top: 5rem;
}

#button-adotar,
#button-excluir {
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    padding: 20px 50px;
    border: none;
    text-decoration-line: none;

    transition: background-color 0.7s ease;
    transition: color 0.5s ease;
}

#button-adotar {
    background-color: rgba(122, 172, 58, 1);
    color: white;
}

#button-excluir {
    background-color: rgba(222, 89, 89, 1);
    color: rgb(255, 255, 255);
}

#button-adotar:hover {
    color: rgba(122, 172, 58, 1);
    background-color: #f0f0f0;
    cursor: pointer;
}

#button-excluir:hover {
    color: rgba(222, 89, 89, 1);

    background-color: #f0f0f0;
    cursor: pointer;
}

/* footer */
#degrade {
    background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);
    width: 100%;
    height: 5px;
}

#divFooter {
    background-color: #333333;
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.esquerdaFooter {
    display: flex;
    align-items: center;
}

iframe {
    margin-right: 40px;
}

.footer {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 400;
    line-height: 24.41px;
}

#divDesenvolvidoPor {
    display: flex;
    flex-flow: column;
}

.textosFooter {
    width: 378px;
    line-height: 15px;
}

.textoIcon {
    display: flex;
    margin-bottom: 15px;
}

.imgFooter {
    margin-right: 6px;
}

.ultimoIcon {
    margin-bottom: 30px;
}

#quemsomos {
    padding: 2px 10px 7px 9px;
    background: #DEB959;
    color: black;
    text-decoration: none;
    font-family: Darker Grotesque;
    font-size: 25px;
    font-weight: 700;
    line-height: 20px;
}